<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.circlecube.scripturemastery"
        versionCode="020" 
        version   = "0.2.0">

    <name>LDS Scripture Mastery</name>

    <description>
✔All 100 Scripture Mastery verses in one place! 
✔Great study companion for seminary students. 

This app will help you learn these scripture verses in the 
★Old Testament
★New Testament
★Book of Mormon
★Doctrine and Covenants LDS Church History. 
Bonus content now
*Articles of Faith
*Extras (Living Christ, Family Proclamation, Mutual Theme, Boy Scout Oath, Sacrament Prayers)

✔Easy and fun to use tool to learn or memorize or even re-memorize all Scripture Mastery verses of the Church of Jesus Christ of Latter-Day Saints. 

Review all the scripture mastery verses in a clean list on one page, quiz yourself on each of them in multiple ways. This app presents you words from each verse all scrambled, then you tap words in the correct order. Multiple settings for difficulty levels, such as: all words scrambled, only long words, only short words scrambled. Suggest more levels if you can think of them. 
    </description>

    <author href="http://circlecube.com" email="evan@circlecube.com">
        Evan Mullins 
    </author>
	
    <access origin="*" />
    <platform name="ios">
    </platform>
    <platform name="android">
    </platform>

    <config-file platform="android" parent="/manifest" mode="merge">
      <supports-screens android:anyDensity="true" android:resizeable="true" 
        android:smallScreens="true" 
        android:normalScreens="true" 
        android:largeScreens="true" 
        android:xlargeScreens="true" />
    </config-file>
    
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <plugin name="cordova-plugin-google-analytics" source="npm" />

    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" />
    <preference name="permissions" value="none"/>
    
    
    <icon src="res/icon-large.png" width="512" height="512" />
    <icon src="res/icon.png" width="128" height="128" />
    
    <!-- Androind -->
    <icon src="res/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="res/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="res/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="res/android/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="res/android/xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />
    
    <!-- iOS -->
    <icon src="res/ios/Icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icon-1024.png" gap:platform="ios" width="1024" height="1024" />
    <!-- iPhone 6 / 6+ -->
    <icon src="res/ios/Icon-60@3x.png" gap:platform="ios" width="180" height="180" />
    <!-- iPhone / iPod Touch  -->
    <icon src="res/ios/Icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="res/ios/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <!-- iPad -->
    <icon src="res/ios/Icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="res/ios/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <!-- Settings Icon -->
    <icon src="res/ios/Icon-Small.png" gap:platform="ios" width="29" height="29" />
    <icon src="res/ios/Icon-Small@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="res/ios/Icon-Small@3x.png" gap:platform="ios" width="87" height="87" />
    <!-- Spotlight Icon -->
    <icon src="res/ios/Icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="res/ios/Icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    
    <platform name="android">  
        <allow-intent href="market:*" />  
    </platform>  
    <platform name="ios">  
        <allow-intent href="itms:*" />  
        <allow-intent href="itms-apps:*" />  
    </platform> 
	
</widget>
<!--
	
	android: 
	ios: scripturemastery

	Bundle ID- The bundle ID must match the one you used in Xcode. It can't be changed after you submit your first build.
	com.circlecube.ldsquizpro
	Apple ID- An automatically generated ID assigned to your app.
	971859234
	SKU- A unique ID for your app that is not visible on the App Store.
	com.circlecube.ldsquizpro	
	
-->