<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.circlecube.scripturemastery"
        versionCode="006" 
        version   = "0.0.6">

    <name>LDS Scripture Mastery</name>

    <description>
✔All 100 Scripture Mastery verses in one place! 
✔Great study companion for seminary students. 

This app will help you learn these scripture verses in the 
★Old Testament
★New Testament
★Book of Mormon
★Doctrine and Covenants LDS Church History. 

✔Easy and fun to use tool to learn or memorize or even re-memorize all Scripture Mastery verses of the Church of Jesus Christ of Latter-Day Saints. 

Review all the scripture mastery verses in a clean list on one page, quiz yourself on each of them in multiple ways. This app presents you words from each verse all scrambled, then you tap words in the correct order. Multiple settings for difficulty levels, such as: all words scrambled, only long words, only short words scrambled. Suggest more levels if you can think of them. 
    </description>

    <author href="http://circlecube.com" email="evan@circlecube.com">
        Evan Mullins 
    </author>
    <gap:plugin name="com.adobe.plugins.gaplugin" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <gap:platform name="android" />
    <preference name="phonegap-version" value="3.5.0" />
    <icon src="icon-large.png" />
    <gap:splash src="splash.png" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" />
    <preference name="permissions" value="none"/>
</widget>